# Archivos generados por Maven
target/
*.log
*.jar

# Maven Wrapper
.mvn/
!mvnw
!mvnw.cmd

# IDEs
.idea/
*.iml
*.ipr
*.iws

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Archivos de construcción
build/
*.class

# Otros
.DS_Store
Thumbs.db
