html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* evita cualquier scroll */
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}



h1, h2 {
  color: #1a237e;
}

input, button {
  font-size: 16px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #1a237e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3949ab;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #ccc;
}

#mensaje {
  font-weight: bold;
  padding: 10px;
}

#linkInstalar a {
  color: #1a237e;
  text-decoration: underline;
  font-weight: bold;
}

#linkInstalar a:hover {
  color: #3949ab;
}
